/.vs
/DungeonSlime.DesktopGL/bin
/DungeonSlime.Android/obj
/DungeonSlime.DesktopGL/Content/obj
/DungeonSlime.DesktopGL/obj
/DungeonSlime.iOS/bin
/DungeonSlime.iOS/obj
/MonoGameLibrary/obj
/DungeonSlime.Android/Content/obj
/DungeonSlime.Android/Content/bin
/DungeonSlime.Android/bin
/DungeonSlime.DesktopGL/Content/bin
/MonoGameLibrary/bin
